.container{
    display: flex;
    border: 10px solid blue;
    height: 90vh;
    
    
}
.box{
    width: 100px;
    height: 100px;
    font-size: 5em;
    text-align: center;
    border-radius: 20px;
}
#box1{
    background-color: red;
}
#box2{
    background-color: green;
}
#box3{
    background-color: blue;
}
#box4{
    background-color: yellow;
}
