.pagination{
    text-align: center;
}
.pagination a{
    padding: 10px 15px;
    border: 2px solid grey;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
}
.pagination a.active{
    background-color: chartreuse;
    font-weight: bold;
}
.pagination a:hover:not(.active){
    background-color: aquamarine;

}
